{% extends "modele.jinja" %}

{% block contenu %}

<form action="/vendeur/ajout-repas" method="POST" enctype="multipart/form-data" novalidate>
    <div>
        <label for="titre">Nom repas :</label>
        <input type="text" name="titre" id="titre">
    </div>
    <div>
        <label for="prix">Prix :</label>
        <input type="number" name="prix" id="prix">
    </div>
    <div>
        <label for="description">Description :</label>
        <input type="textarea" name="description" id="description" rows="4">
    </div>
    <div>
        <input type="checkbox" name="dispo" id="dispo">
        <label for="dispo">Repas disponible</label>
    </div>
    <div>
        <label for="photo">Photo du repas</label>
        <input type="file" name="photo" id="photo">
    </div>
    <div>
        <button type="submit">Ajouter repas</button>
    </div>
</form>
{% endblock %}