{% extends "modele.jinja" %}

{% block contenu %}
<div class="d-flex justify-content-center py-5">

    <div class="form-au-dessus connexion mb-5">

        <h2 class="text-center fw-bold titre">Modifier profil</h2>

        
    </div>
</div>

{% endblock %}