{% extends "modele.jinja" %}

{% block contenu %}

<div class="container mt-4">

    <h1>Mon profil</h1>

    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3>Informations du compte</h3>
                    <p> <strong>Nom d'utilisateur :</strong> {{ utilisateur["username"] }} </p>
                    <p> <strong>Nom :</strong> {{ utilisateur["nom"] }} </p>
                    <p> <strong>Prénom :</strong> {{ utilisateur["prenom"] }} </p>
                    <p> <strong>Téléphone :</strong> {{ utilisateur["telephone"] }} </p>
                    <p> <strong>Adresse :</strong> {{ utilisateur["adresse_postal"] }} </p>


                    <button type="button" class="btn btn-primary"> Modifier mon profil </button>

                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3>Carte de fidélité</h3>
                    <p>Crédit disponible :</p>
                    <h2>{{ utilisateur["credit"] }} $</h2>
                    <button type="button" class="btn btn-primary">
                        Charger ma carte
                    </button>

                </div>
            </div>

        </div>

    </div>

    <div class="card mt-4">
        <div class="card-body">

            <h3>Historique de mes commandes</h3>

            <p>Aucune commande à afficher pour le moment.</p>

        </div>
    </div>

    <div class="mt-4 mb-4">

        <h3>Supprimer mon compte</h3>

        <p>La suppression de votre compte est définitive.</p>

        <button type="button" class="btn btn-danger">
            Supprimer mon compte
        </button>

    </div>

</div>

{% endblock %}