/* Couleur de base de l'appli */
.btn-primary {
    background-color: #B3835C;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #9C6D49;
    color: white;
}


.bg-image-floue {
    position: relative;
    background: url('../images/image_connexion.png') no-repeat center center fixed;
    background-size: cover;
}

.bg-image-floue::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    z-index: 1;
}

.form-au-dessus {
    position: relative;
    z-index: 2;
}
.connexion {
    width: 400px;
}

.connexion .form-control {
    height: 50px;
    border-radius: 15px;
}

.connexion .btn {
    border-radius: 15px;
    font-weight: bold;
}

.lien-compte {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.lien-compte:hover {
    text-decoration: underline;
}
#pied {
    background-color: #FFF9F2;
    color: #555;
    text-align: center;
    padding: 15px;
}