{# Page d'accueil #}

{% extends "modele.jinja" %}


{% block contenu %}

<div class="bg-image-floue d-flex justify-content-center py-5">

    <div class="form-au-dessus connexion mb- pb-5">

        <h2 class="text-center fw-bold titre">Connexion </h2>

        {% if message_erreur %}
            <div class="d-flex align-items-center justify-content-center gap-2 bg-white border
             border-2 border-danger rounded-3 p-1 mb-1 text-danger fw-semibold" role="alert">
                <i class="bi bi-x-circle-fill fs-4"></i>
                <span>{{ message_erreur }}</span>
            </div>
        {% endif %}
        <form method="POST" action="/" novalidate>

            <div class="mt-4 mb-3">
                <label for="username" class="form-label">Nom d'utilisateur:</label>
                <input type="text"id="username" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-primary w-75 py-3 fs-5">Se connecter</button>
            </div>

        </form>

        <div class="text-center mt-2">
            <p class="mb-0">
                Vous n’avez pas de compte?

            </p>
        </div>

        <div class="text-center">
            <a href="/inscription-acheteur" class="btn btn-primary w-75 py-3 mt-5 fs-5"> Créer compte Acheteur</a>
            <a href="/inscription-vendeur" class="btn btn-primary w-75 py-3 mt-3  fs-5">Créer compte Vendeur </a>
        </div>
    </div>
</div>

{% endblock %}