{% extends "modele.jinja" %}

{% block contenu %}

<form action="" method="POST" novalidate>
<div>
    <label for="titre">Nom repas :</label>
    <input type="text" name="titre" id="titre">
</div>
<div>
    <label for="prix">Prix :</label>
    <input type="number" name="prix" id="prix">
</div>
</form>
<div>
    <label for="description">Description :</label>
    <input type="textarea" name="description" id="description" rows="4">
</div>

{% endblock %}