<!DOCTYPE html>
<html lang="fr">

<head>
    <title>EatFast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>


<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand nom-eatfast" href="{{ url_for('index') }}">
                EatFast
            </a>

            <div class="ms-auto d-flex align-items-center gap-3">
                {% if session.id_utilisateur %}
                <a href="{{ url_for('menu.menu') }}" class="nav-link">Menu</a>

                {% endif %}

                {% if session["statut"] == "vendeur" %}
                <form action="/vendeur/ajout-repas" method="GET" class="mb-0">
                    <input type="submit" value="Ajouter un repas" class="btn btn-primary">
                </form>
                {% endif %}

                {% if session.id_utilisateur %}
                <form action="/deconnexion" method="GET" class="mb-0">
                    <input type="submit" value="Déconnexion" class="btn btn-primary">
                </form>
                {% endif %}
            </div>

        </div>
    </nav>

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mt-3">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block contenu %}

        {% endblock %}

    </main>

    <footer id="pied">

        <div class="d-flex justify-content-center">
            <p class="mb-0 text-center "> &copy; Glawdys & Emmanuelle & Noah </p>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>