<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Magasin_TP2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

    <main>

        {% block contenu %}

        {% endblock %}

    </main>

    <footer id="pied" class="bg-dark text-white text-center p-3">

        <div class="d-flex justify-content-center">
            <p class="mb-0 text-center "> &copy; Glawdys & Emmanuelle & Noah </p>

        </div>
    </footer>
</body>


</html>